@font-face {
  font-family: Iran;
  src: url(../font/iranyekanwebregular.e31c09af.woff2);
}
@keyframes backgroundchan {
  0%{
    background-color: transparent
  }
  100%{
    background-color: #3f3f4575;
  }
}
/* header start */
.wrapper {
  & header {
    z-index: 0;
    width: 100%;
    height: 108px;

    .top {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      width: 98%;
      height: 68px;
      margin: 0 auto;
      padding: 12px 0;
      align-items: center;
      .right {
        width: 50%;
        height: 44px;
        display: flex;
        flex-flow: row nowrap;
        .icon {
          width: fit-content;
          height: fit-content;
          margin: auto 0;
          margin-left: 20px;
          padding-top: 2px;
          & a {
            display: block;
            width: 100%;
            height: 100%;
            margin: auto 0;
          }
        }

        .search {
          width: 76%;
          height: 100%;
          background-color: #f0f0f1;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          & form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            padding: 0 16px;
            & label {
              width: 24px;
              height: 24px;
              align-items: center;
              margin: auto 0;
            }
            & input {
              display: block;
              width: 86%;
              height: 100%;
              border: 0;
              outline: unset;
              background-color: transparent;
              padding: 0 16px;
              font-family: Iran;
              font-size: 12px;
            }
          }
        }
      }
      .left {
        width: 16%;
        height: 44px;
        display: flex;
        flex-flow: row nowrap;
        position: absolute;
        left: 0;
        .register {
          width: 64%;
          height: 100%;
          & a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            & button {
              background-color: white;
              border-radius: 8px;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              -ms-border-radius: 8px;
              -o-border-radius: 8px;
              font-family: Iran;
              font-size: 12px;
              display: flex;
              flex-flow: row wrap;
              width: 100%;
              height: 100%;
              align-items: center;
              cursor: pointer;
              border: 1px solid #e0e0e2;
              & svg {
                width: 24px;
                height: 24px;
                margin: 0 12px;
              }
            }
          }
        }
        .sep {
          width: 1px;
          height: 24px;
          border: 1px solid #e0e0e2;
          margin: auto 12px;
        }
        .buy {
          width: 20%;
          height: 100%;
          & a {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            & svg {
              width: 24px;
              height: 24px;
              display: block;
              padding: 0;
              margin: auto 0;
              position: absolute;
              left: 0;
            }
          }
        }
      }
    }
    .bottom {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      width: 98%;
      height: 40px;
      margin: 0 auto;
      align-items: center;
      .right_1 {
        width: 80%;
        height: 100%;
        & ul {
          display: flex;
          flex-flow: row wrap;
          width: fit-content;
          height: 100%;
          & li {
            width: fit-content;
            height: 100%;
            list-style-type: none;
            padding: 0 12px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin: 0;
            & a {
              width: fit-content;
              text-decoration: none;
              font-family: Iran;
              font-size: 12px;
              color: #62666d;
            }
            & span {
              width: 1px;
              height: 16px;
              border: 1px solid #b3bdcf;
              margin-right: 12px;
            }
          }
          .cat {
            /* z-index: 0 !important; */
            font-size: 14px;
            font-weight: 600;
            color: #3f4064;
            .wrapcat {
              position: absolute;
              background-color: #3f3f4575;
              animation: backgroundchan 300m;
              -webkit-animation: backgroundchan 300m;
              width: 0vw;
              height: 0vh;
              transition-timing-function: cubic-bezier(1, 0, 0, 1);
              height: calc(100vh - 109px);
              top: 41px;
              bottom: 0;
              right: -14.75px;
              left: 0;
              .submenu{
                display: none;
                z-index: 0 !important;
                width: fit-content;
                height: 550px;
                position: absolute;
                right: 14.75px;
                ul.categories {
                  width: fit-content;
                  height: inherit;
                  overflow-y: scroll;
                  direction: ltr;
                  display: flex;
                  flex-direction: column;
                  flex-flow: column;
                  background-color: #f2f2f2;
                  & li {
                    width: 200px;
                    height: 60px;
                    padding: 18px 10px 18px 0;
                    box-sizing: border-box;
                    font-family: Iran;
                    font-size: 12px;
                    & svg {
                      width: auto;
                      height: 40px;
                      margin: 0 0 0 10px;
                    }
                    & > div {
                      display: flex;
                      flex-flow: column;
                      z-index: 0 !important;

                      .sep {
                        display: block;
                        position: absolute;
                        right: 210px;
                        height: 80px;
                        width: 100%;
                        top: 0;
                        color: #008eb2;
                        line-height: 80px;
                        margin-right: 15px;
                      }
                      & > div {
                        z-index: 0;
                        width: auto;
                        position: absolute;
                        right: 210px;
                        height: 550px;
                        top: 0;
                        display: flex;
                        flex-flow: row;
                        background-color: rgb(255, 255, 255);
                        border-radius: 0 0 0 14px;
                        -webkit-border-radius: 0 0 0 14px;
                        -moz-border-radius: 0 0 0 14px;
                        -ms-border-radius: 0 0 0 14px;
                        -o-border-radius: 0 0 0 14px;
                        & div {
                          width: max-content;
                          margin: 80px 15px 0 15px;
                          padding: 0 0 0 50px;
                          font: Iran;
                          & > h2 {
                            font: Iran;
                            font-size: 14px;
                            border-right: 3px solid red;
                            color: black;
                            text-indent: 10px;
                            margin: 0 0 15px 0;
                          }
                          & p {
                            font-weight: 200;
                            margin: 0 0 12px 0;
                          }
                          & p:hover {
                            color: red;
                          }
                        }
                      }
                    }
                  }
                  .phone {
                    display: none;
                  }

                }
                & li:hover {
                  background-color: white;
                  & > p {
                    color: red;
                  }
                  .phone {
                    display: flex;
                  }
                  & svg {
                    filter: invert(13%) sepia(82%) saturate(7329%)
                      hue-rotate(355deg) brightness(96%);
                    -webkit-filter: invert(13%) sepia(82%) saturate(7329%)
                      hue-rotate(355deg) brightness(96%);
                  }
                }
              }
            }
            &:hover {
              .wrapcat {
                display: block;
                width: 100vw;
                .submenu {
                  display: block;
                }
              }
              }
            }
          }
        }
      }
    }
  }
  .left_1 {
    width: 20%;
    text-align: left;
    .cont {
      display: inline-block;
      a {
        font-family: Iran;
        font-size: 12px;
        display: flex;
        height: 100%;
        width: 100%;
        flex-flow: row wrap;
        align-items: center;
        text-decoration: none;
        color: #62666d;
        & svg {
          width: 20px;
          height: 20px;
          margin-left: 10px;
        }
      }
    }
  }


/* header end */
