@import "../swiper/swiper-bundle.min.css";
@font-face {
  font-family: Iran;
  src: url(../font/iranyekanwebregular.e31c09af.woff2);
}
/* slider1 start */
.swiper1 {
  width: 90%;
  height: fit-content;
  margin-top: 15px;
  margin-bottom: 15px;
  .swiper-wrapper {
    .swiper-slide {
      margin: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      row-gap: 25px;
      width: 80px !important;
      height: fit-content !important;
      text-align: center;
      .container {
        width: 80px;
        height: 80px;
        box-sizing: border-box;
        border: 3px solid #91499c;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        .slideimage {
          width: 70px;
          height: 70px;
          background-color: blue;
          border-radius: 100%;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          -ms-border-radius: 100%;
          -o-border-radius: 100%;
          margin: 2.6px auto;
        }
      }

      h4 {
        font-family: Iran;
        font-weight: 100;
        font-size: 10px;
        margin: 0;
      }
    }
  }
}
/* slider1 end */

/* slider2 start */
.swiper2 {
  width: 100%;
  .swiper-wrapper {
    .swiper-slide {
      height: 57vh;
      & img {
        width: 100vw;
        height: inherit;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}
/* slider2 end */

/* slider3 start */
.swiper3 {
  width: 88vw !important;
  height: 42vh !important;
  background-color: #d92f4e;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  font-family: Iran;
  .swiper-wrapper {
    .sepr {
      background-color: #d92f4e !important;
    }
    .margr {
      margin-right: 12px;
      border-radius: 0 8px 8px 0;
      -webkit-border-radius: 0 8px 8px 0;
      -moz-border-radius: 0 8px 8px 0;
      -ms-border-radius: 0 8px 8px 0;
      -o-border-radius: 0 8px 8px 0;
    }
    .marl {
      margin-left: 12px;
      border-radius: 8px 0 0 8px;
      -webkit-border-radius: 8px 0 0 8px;
      -moz-border-radius: 8px 0 0 8px;
      -ms-border-radius: 8px 0 0 8px;
      -o-border-radius: 8px 0 0 8px;
    }
    .swiper-slide {
      overflow: hidden;
      background-color: white;
      font-family: Iran;
      font-size: 12px;
      width: 13% !important;
      height: 90%;
      padding: 12px !important;
      margin: 12px 2px !important;
      .price{
        width: 100%;
        display: flex;
        flex-flow: row-reverse;
        & p{
          width: 80%;
          text-align: left;
          font-size: 13px;
        }
        .off{
          width: 20%;
          background-color: #d92f4e;
          text-align: center;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          color: white;
}
      }
      .old{
        text-align: left;
        width: 100%;
        display: inline-block;
        font-family: Iran;
        font-weight:100;
        color: #C0C2C5;
      }
      .sepcon {
        text-align: center;
        background-color: #d92f4e !important;
        .countdown {
          display: flex;
          text-align: center;
          flex-flow: row-reverse;
          width: fit-content;
          font-family: Iran;
          margin: 10px auto;
          .clock {
            background-color: white;
            width: 26px;
            height: 26px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
          }
          .space {
            color: white;
            height: 32px;
            width: 8px;
            font-size: 1.5rem;
          }
          & p {
            line-height: 26px;
          }
        }
        .amazingIdea {
          & svg {
            width: 88px;
            height: 88px;
          }
        }
        .showall {
          color: white;
          font-size: 12px;
        }
      }
      .prodImage {
        & img {
          /* width: 132px;
          height: 132px; */
          width: 85%;
          height: 85%;
          object-fit: fill;
        }
      }
    }
  }
}
/* slider3 end */

/* slider4 start */
.slider4{
  width: fit-content;
  margin: 20px auto;
  height: 35vh;
  border: 1px solid rgb(176, 170, 170);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  .top{
    display: flex;
    margin: 30px 0;
    justify-content: space-around;
    & div{
    display: flex;
    text-align: center;
    & p{
      font-family: Iran;
      font-size: 21px;
    }
  }}
  .swiper4{
    width: 90vw;
    height: 20vh;
    .swiper-slide{
      margin: 0 !important;
      
    }
    & img{
      width: 110px;
      height: 110px;
      border: 1px solid rgb(241, 234, 234);

    }
  }
}
/* slider4 end */